<div class="flex-1 overflow-auto">
  <p-scrollpanel class="h-full w-full">
    <div class="card">
      <p-table
        [value]="companies"
        dataKey="id"
        editMode="row"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header>
          <tr>
            <th style="width: 20%; color: #4a70d6; font-weight: bold">
              {{ commonWords.code | translate }}
            </th>
            <th style="width: 20%; color: #4a70d6; font-weight: bold">
              {{ commonWords.name | translate }}
            </th>
            <th style="width: 20%; color: #4a70d6; font-weight: bold">
              {{ commonWords.emailUser | translate }}
            </th>
            <th style="width: 10%; color: #4a70d6; font-weight: bold">
              {{ commonWords.delete | translate }}
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-company
          let-editing="editing"
          let-ri="rowIndex"
        >
          <tr [pEditableRow]="company">
            <td>
              <p-cellEditor>
                <ng-template #input>
                  <input pInputText type="text" />
                </ng-template>
                <ng-template #output>
                  {{ company.companyCode }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template #input>
                  <input pInputText type="text" required />
                </ng-template>
                <ng-template #output>
                  {{ company.name }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template #input>
                  <input pInputText type="text" required />
                </ng-template>
                <ng-template #output>
                  {{ company.email }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-button
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="confirmDelete(company.companyCode)"
                label="{{ 'commonWords.delete' | translate }}"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      @if (loading()) {
      <div
        class="absolute inset-0 flex justify-center items-center bg-transparent"
      >
        <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
      </div>
      }
    </div>
  </p-scrollpanel>

  <div
    class="fixed bottom-4 left-1/2 transform -translate-x-1/2 z-50 flex gap-4 px-4"
  >
    <!-- Botón fijo en la parte inferior para agregar compañía -->
    <p-button
      icon="pi pi-plus"
      [rounded]="true"
      [text]="true"
      [raised]="true"
      (click)="showCompanyDialog()"
      label="{{ commonWords.addCompany }}"
    ></p-button>

    <!-- Botón fijo para actualizar la lista -->
    <p-button
      icon="pi pi-refresh"
      [rounded]="true"
      [text]="true"
      [raised]="true"
      (click)="refreshCompanies()"
      label="{{ commonWords.refreshList }}"
    ></p-button>
  </div>
</div>

<!-- Diálogo para agregar compañía -->
<p-dialog
  header="{{ commonWords.addCompany }}"
  [(visible)]="companyDialogVisible"
  [style]="{ width: '35rem', height: 'auto' }"
>
  <span class="p-text-secondary block mb-8">{{
    commonWords.companyInformation
  }}</span>
  <div class="flex items-center gap-4 mb-4">
    <label for="companyName" class="font-semibold w-24">{{
      commonWords.companyName
    }}</label>
    <input
      pInputText
      id="companyName"
      class="flex-auto border border-gray-300 p-2 rounded-md focus:ring-2 focus:ring-blue-500"
      [(ngModel)]="companyData.name"
      autocomplete="off"
    />
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="companyCode" class="font-semibold w-24">{{
      commonWords.companyCode
    }}</label>
    <input
      pInputText
      id="companyCode"
      class="flex-auto border border-gray-300 p-2 rounded-md focus:ring-2 focus:ring-blue-500"
      [(ngModel)]="companyData.companyCode"
      autocomplete="off"
    />
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="email" class="font-semibold w-24">{{
      commonWords.email
    }}</label>
    <input
      pInputText
      id="email"
      class="flex-auto border border-gray-300 p-2 rounded-md focus:ring-2 focus:ring-blue-500"
      [(ngModel)]="companyData.email"
      autocomplete="off"
    />
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="password" class="font-semibold w-24">{{
      commonWords.password
    }}</label>
    <input
      type="password"
      pInputText
      id="password"
      class="flex-auto border border-gray-300 p-2 rounded-md focus:ring-2 focus:ring-blue-500"
      [(ngModel)]="companyData.password"
      autocomplete="off"
    />
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="password2" class="font-semibold w-24">{{
      commonWords.confirmPassword
    }}</label>
    <input
      type="password"
      pInputText
      id="password2"
      class="flex-auto border border-gray-300 p-2 rounded-md focus:ring-2 focus:ring-blue-500"
      [(ngModel)]="companyData.password2"
      autocomplete="off"
    />
  </div>

  <div class="flex justify-end gap-2">
    <p-button
      label="{{ commonWords.cancel }}"
      severity="secondary"
      (click)="companyDialogVisible.set(false)"
    />
    <p-button label="{{ commonWords.save }}" (click)="saveCompany()" />
  </div>
</p-dialog>

<!-- TOAST PARA LOS ERRORES -->
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
